//////////// Variables /////////////


////Colours

$primary-color: #3B6ABB;
$secondary-color: #9AB7EB;
$alt-color: #053878;
$light-color: #fff;
$freenow-logo: #E9A72F;


////Font-sizes


// Mobile 

$mobile-h2: 1.5rem;
$mobile-h3: 1.25rem;
$type-small: 1rem;


//Tablet + 

$h2: 2rem;
$h3: 1.625rem;
$alt: 1.5rem;


//// Media Queries breakpoints

$tablet: 768px;
$desktop: 1024px;